{% extends '_base.html' %}
{% block title %}
    Authors | {{ block.super }}
{% endblock title %}
{% block content %}
    {% for author in author_list %}
    <div class="card-header" style="margin-top: 10px; margin-left: 15%; margin-right: 25%">
        <a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{ author.last_name }},</a>
        <span style="margin-left: 15px">total posts created - {{ author.posts.all|length }}</span>
    </div>
    {% endfor %}
{% endblock content%}