{% extends '_base.html' %}
{% block title %}
    {{ post.title }} | {{ block.super }}
{% endblock title %}
{% block content %}
<div class="select2-container" style='
margin-left: 15%; background-color: azure; margin-right: 15%; margin-top: 10px;
'>
    <div class="card-header">
          By {{ post.author.first_name }} {{ post.author.last_name }}, published: {{ post.published }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        {% if post.image %}
        <img src="/media/{{ post.image }}" alt="" height="320">
        {% endif %}
        <p class="card-text">{{ post.body }}</p>
        <h6 class="card-text">Tags: {% for tag in post.tags.all %}<a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a> {% endfor %}</h6>
        <p class="card-text">Created: {{ post.created }}; Last updated: {{ post.updated }}</p>
    </div>
</div>
{% endblock content %}