{% extends '_base.html' %}

{% block title %} {{ author.first_name }} | {{ block.super }} {% endblock title %}

{% block content %}
    <div>
        <h3 style="margin: 10px 0 10px 5%">All posts created by {{ author.first_name }} {{ author.last_name }}:</h3>
    </div>
    {% for post in posts %}
        {% include 'blog/layouts/post_card.html' %}
    {% endfor %}
{% endblock content %}