{% extends '_base.html' %}

{% block title %} {{ tag.title }} | {{ block.super }} {% endblock title %}

{% block content %}
    <div>
        <h3 style="margin: 10px 0 10px 5%">All posts with tag {{ tag.title }}:</h3>
    </div>
    {% for post in posts %}
        {% include 'blog/layouts/post_card.html' %}
    {% endfor %}
{% endblock content %}