{% extends '_base.html' %}
{% block title %}
    Tags | {{ block.super }}
{% endblock title %}
{% block content %}
    {% for tag in tags_list %}
    <div class="card-header" style="margin-top: 10px; margin-left: 15%; margin-right: 35%">
        <a href="{{ tag.get_absolute_url }}">{{ tag.title }},</a>
        <span style="margin-left: 15px">total posts with this tag: {{ tag.posts.all|length }}</span>
    </div>
    {% endfor %}
{% endblock content%}