<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            C & B
        {% endblock title %}
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="display: flex; flex-direction: column" >
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'blog:posts_list' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:authors_list' %}">Authors<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:tags_list' %}">Tags</a>
      </li>
        {% block sort_dropdown %}
        {% endblock sort_dropdown %}
    </ul>
  </div>
</nav>
{% block content %}
{% endblock content%}

{#Admin panel btn#}

{% if user.is_staff %}
<div class="admin-panel">
    <a href="/admin/" class="btn btn-primary">Admin</a>
</div>
{% endif %}

<nav style="flex: 0 0 auto; margin: 0 auto;">
    {% if paginator.num_pages > 1 %}
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link"
               href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
                Previous
            </a>
        </li>
        {% for page in paginator.page_range %}
            <li class="page-item {% if page_obj.number == page %} active {% endif %}"><a class="page-link"
                                                                                         href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}
        <li class="page-item">
            <a class="page-link"
               href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
                Next
            </a>
        </li>
    </ul>
    {% endif %}
</nav>

</body>
</html>