.admin-panel {
    border: 1px solid #444444;
    border-radius: 2px;
    position: fixed;
    right: 50px;
    bottom: 30px;
    opacity: 0.3;
    padding: 10px;
}

.admin-panel:hover {
    opacity: 1;
}
