<div class="select2-container" style='
margin-left: 5%; background-color: azure; margin-right: 30%; margin-top: 10px;'>
    <div class="card-header">
        <a href="{{ post.author.get_absolute_url }}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h5>
        <p class="card-text">{{ post.body | truncatewords:20 }}</p>
        <h6 class="card-text">Tags: {% for tag in post.tags.all %}
            <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a> {% endfor %}
        </h6>
        <p class="cart-text">Published: {{ post.published }}</p>
    </div>
</div>